body {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    cursor: pointer;
}

.left {
    float: left;
    width: 250px;
    height: 100vh;
    padding-top: 50px;
    background-color: #2e3d49;
}

.left ul {
    padding: 0 20px;
}

.left ul li {
    color: #fff;
    line-height: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c5bebe;
}

.flex {
    display: flex;
    align-content: center;
    justify-content: center;
}

.flex .flex-item {
    padding: 0 10px;
    text-align: center;
}

.flex .flex-item p {
    font-size: 14px;
    line-height: 1.428;
    color: #333;
}

.img-circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #eee;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}